.spinner {
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 5px solid;
	border-color: #1a73e8 #0000;
	animation: s1 1s infinite;
}

@keyframes s1 {
	to {
		transform: rotate(0.5turn);
	}
}